# Mac system file; the leading # marks a comment
.DS_Store

#Ignoring folders 
output/headlines/*
output/meme_pics/*
output/train_set/*
output/valid_set/*
output/test_set/*
temp/*
.ipynb_checkpoints/*
